.chosen-container {
    display: block;
    width: auto !important;
    .chosen-single {
        width: 100%;
        height: 34px;
        padding: 6px 0 6px 12px;
        font-size: 14px;
        line-height: 1.5;
        color: #555;
        background-color: #fff;
        background-image: none!important;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        div b {
            background-position: 0px 6px;
        }
    }
    .chosen-with-drop .chosen-drop {
        display: block;
    }
    .chosen-drop {
        margin-top: 0!important;
        display: none;
    }
    &.chosen-with-drop {
        .chosen-single {
            div b {
                background-position: -18px 6px;
            }
        }
    }
}

.chosen-nvalid {
    border: 1px solid red!important;
}

.chosen-disabled, .chosen-disabled .chosen-single {
    background-color: #eee;
    opacity: 1!important;
    cursor: not-allowed!important;
}

.chosen-container.chosen-with-drop .chosen-drop {
    display: block;
}

.ui-jqgrid[data-status="update"] {
    .chosen-single {
        margin: 0!important;
        border: 0;
        box-shadow: none;
        div b {
            background-position: -10000px -10000px;
        }
    }
    tr.delete {
        .chosen-single {
            color: #aaa;
            text-decoration: line-through;
        }
    }
    select {
        visibility: hidden;/* avoid the flash when select->chosen */
    }
}

.ui-jqgrid[data-status="update"] td:hover .chosen-single, .ui-jqgrid[data-status="update"] td.active .chosen-single {
    border: 1px solid #999;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    div b {
        background-position: 0px 6px;
    }
}

.ui-jqgrid .chosen-container-single .chosen-search input[type="text"] {
    width: 100%!important;
    height: auto!important;
    font-size: 1em!important;
}

.ui-jqgrid[data-status="update"] .ui-jqgrid-bdiv {
    overflow: visible!important; /* for chosen overflow */
}

.ui-jqgrid[data-status=update] tr.jqgrow td {
    white-space: normal;
}
