.ui-jqgrid {
    border: 1px solid #ddd;
}
.ui-jqgrid .ui-jqgrid-htable th {
    border: 1px solid #ddd;
}
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    border-bottom: 1px solid #ddd;
}
.ui-jqgrid tr.jqgrow td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.ui-jqgrid .ui-jqgrid-pager {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}