
/* keep the with-children grid padding the same with the no-children grid for address */
.group-float .control-field, .group-circle .control-field {
	padding-left: 0;
	padding-right: 0;
}

.group-radio {
    height: 34px;
}

.group-segment {
    line-height: 34px;
}

/* widget toolbar */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #576373;
    border-color: #c5d0dc;
    border-top: 2px solid #4c8fbd;
    border-bottom-color: transparent;
    background-color: #FFF;
    z-index: 12;
    line-height: 16px;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
}
.nav-tabs>li>a {
    padding: 8px 12px;
}