/**
 * global menu tree with 3 level
 */
.three-level h3 {
    margin: 0;
    background-color: #E5EBF1;
    border-bottom: 1px solid #CECDD0;
}
.three-level #tree {
    // level 1
    li {
        background-color: #E5EBF1;

        .folder-open,
        .folder-close {
            display: none;
        }
        .glyphicon:before,
        .fa:before {
            content: none;
        }
        &:not(.tree-node) > a {
            border-top: 1px solid #F8FAFB;
            border-bottom: 1px solid #CECDD0;
        }
        a {
            margin: 0;
            padding-left: 20px;
            font-weight: 600;
            font-size: 16px;
        }
    }
    // level 2
    li li {
        background-color: #F7F6FB;

        .folder-open,
        .folder-close {
            display: block;
            left: 25px;
            right: null;
        }
        a {
            margin: 0 20px;
            padding-left: 25px;
            border-top: 1px solid #D0DAE5;
            font-weight: normal;
            font-size: 14px;
        }
        &:first-child a {
            border-top: none;
        }
        &:last-child a {
            border-bottom: none;
        }
        &:last-child {
            li:last-child {
                border-bottom: none !important;
                a {
                    border-bottom: none !important;
                }
            }
            border-bottom: 1px solid #CECDD0;
        }
    }
    // level 3
    li li li {
        a {
            border: none;
            font-size: 12px;
        }
        &:last-child {
            border-bottom: none;
            a {
                border-bottom: 1px solid #CECDD0;
            }
        }
    }

    // target a
    a {
        font-family: 'Microsoft YaHei', SimSun !important;
    }

    // active
    .tree-active {
        background-color: #599AE0;
        &:after {
            width: 4px;
        }
        a {
            border-color: #599AE0 !important;
            color: #fff;
        }
    }

    // arrow
    .folder-open,
    .folder-close {
    }
}
